.header2 {
    height: 100px; /* Exemplo de altura do header */
    background-color: gray;
    position: fixed; /* Define o header como posicionamento fixo */
    top: 0; /* Fixa o header no topo da página */
    left: 0;
    right: 0;
    z-index: 1000; /* Define uma ordem de empilhamento alta para o header */
}
.conversas {
    display: grid;
    gap: 30px; /* Espaçamento entre os quadrados */
    justify-content: center; /* Centraliza os quadrados horizontalmente */
    align-items: baseline; /* Centraliza os quadrados verticalmente pela linha de base */
}


.caixa-de-conversa {
    display: flex;
    gap: 4px; /* Espaçamento entre o avatar e o conteúdo */
    background-color: #f5f8fa; /* Cor de fundo da caixa de conversa */
    padding: 5px; /* Espaçamento interno da caixa de conversa */
    border-radius: 10px; /* Borda arredondada da caixa de conversa */
    height: 100%;
    margin-top: 90px;
}



.avatar img {
    width: 50px; /* Tamanho do avatar */
    height: 50px;
    border-radius: 50%; /* Avatar arredondado */
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.usuario {
    font-weight: bold; /* Texto do usuário em negrito */
}

.mensagem {
    margin-top: 5px; /* Espaçamento entre o usuário e a mensagem */
}

.conteudo img {
    max-width: 400px; /* Defina o máximo de largura para a imagem */
    height: auto; /* Mantenha a proporção original da imagem */
    display: block; /* Garanta que a imagem seja exibida como um bloco */
}

.conteudo audio {
    width: 500px; /* Define a largura do elemento de áudio */
    margin-top: 10px; /* Adiciona margem superior para separação */
    z-index: 1; /* Define uma ordem de empilhamento menor para o áudio */
}

.caixa-mensagem2 {
    background-color: #f5f8fa;
    border: 1px solid #ccd6dd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    border: none;
    background-color: transparent;
    resize: none; /* Impede o redimensionamento pelo usuário */
    outline: none;
}

input[type="file"] {
    margin-top: 5px;
}

button {
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.video-unboxing{
    width: 20%;
    height: 100%; /* Altura automática */
    border-radius: 30px; /* Adiciona bordas arredondadas */
    margin-top: 20px; /* Adiciona margem superior */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.video-container {
    display: flex;
    justify-content: center;
}