@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* estilos do body */
body {
    color: white;
    background-color: black;
    font-family: Arial, sans-serif;

    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content:flex-start;

    height: fit-content;
    width: 100vw;
}

/* estilos do header */
.header {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;


    top: 0; /* Fixar o cabeçalho no topo da página */
    width: 100%; /* Garantir que o cabeçalho ocupe a largura total */
    position: sticky; /* Tornar o cabeçalho grudento */
    height: 7vh; 
    background-color: rgba(128, 128, 128, 0.287);
    
}

/* estilos da logo */
.h1 {
    text-align: left;
    justify-self: center;
    margin-left: 20px;
}

/* estilos do menu no header */
#menu {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;

    width: fit-content;
    height: 35px;
    margin-right: 20px;
}

.links {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    width: 300px;
    list-style: none;
    
}

.links a {
    color: rgb(0, 0, 0);
    background-color: aliceblue;

    border: none;
    border-radius: 50px;
    text-decoration: none;

    padding: 10px;
    width: fit-content;
}

.links a:hover {
    text-decoration: underline;
}

/* estilos do intro  */
#introDiv {
    width: 100vw;
    height: 100vh;
    font-size: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

/* estilos da main */
main {
    width: 80%;
    height: fit-content;

    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

/* estilos das comunidades */
.comunidadeItem {
    color: black;
    background-color: whitesmoke;

    width: 400px;
    margin: 10px;
    height: 300px;
    border-radius: 10px;
    
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.comunidadeItem:hover {
    border: 0.5px solid blue;
}
.comunidadeItem p {
    display: flex;
    align-self: flex-start;
    padding: 10px;

}

#comunidade4, #comunidade5, #comunidade6 {
    display: none;
}
/* estilo da imagem das comunidades */
a {
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
    overflow: hidden;

    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* estilos do botao */
#mostrarMaisBtnDiv {
    margin: 20px;
}
#mostrarMaisBtn {
    border: none;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
}
#mostrarMaisBtn:hover {
    cursor: pointer;
    background-color: rgb(195, 193, 193);
}

/* estilos do footer */
.footer {
    width: 100%;
    height: 40px;
    color: white;

    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: center;
    
} 


